/target
result*
/.direnv

/subprojects/blueprint-compiler

/build/
/install/
/build-release/
/install-release/
/.flatpak-builder/
src/config.rs
*.ui~
*#*.ui#
/builddir/
/po/identity.pot
/repository/
/*.flatpak
/_build/
/_repo/
